<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an appointment</title>
</head>
<body>
<h1>Заказать доставку</h1>
<form action="{% url 'appointments:make_appointment' %}" method="POST">
    {% csrf_token %}
    <label for="client_name">Ваше имя:</label>
    <input type="text" name="client_name"><br>
    <label for="message">Наименование товара:</label>
    <input type="text" name="message"><br>
    <label for="date">Выберите дату:</label>
    <input type="date" name="date">
    <input type="submit">
</form>
</body>
</html>