{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

    <form action="/sign/logout/" method="post">
    {% csrf_token %}
        <input type="submit" value="Выйти"> <button> <a href="/simpleapp/products/"> Смотреть все товары </a> </button>
        <button> <a href="/appointments/"> Сделать заказ </a> </button>
    </form>
    {% if is_not_premium %}
        <button> <a href="/sign/upgrade/"> Хочу Premium!</a> </button>
    {% endif %}
{% endblock %}